body{
    padding: 0;
    margin: 0;
    background-color: yellow;
}
.menu-panneau{
    margin-top: 55px;
    background-color: rgb(103, 171, 231);
}
.item{
    display: table-cell;
}
.item >a{
    text-decoration: none;
    color: white;
    
}
.item >a:hover{
   color: green;
}
.item-panneau a{
    text-decoration: none;
}
.item:hover .panneau{
    display: block;
}
.col a{
    color: gray;
}
section {
    display: flex;
    align-items: center;
    vertical-align:;
}
.panneau{
    display: none;
    position: absolute;
}

.container{
    display: flex;
}
li{
    list-style-type: none;
}

/* animations----------------------------------- */
.parent{
    width: 400px;
    height: 400px;
    background-color: red;
    border: 1px solid black;
    transition: width 8s, height 5s;
}
.parent:hover{
    width: 800px;
    height: 100px;
}
.translate{
    transform: rotate(100deg);
    transform-origin:top;
    width: 200px;
    height: 200px;
    background-color: blue;
    border: 2px solid saddlebrown;
}